@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap");

@import "reset";
@import "config";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
  font-family: "Lato", -apple-system, system-ui, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1em;
  font-weight: 300;

  * {
    box-sizing: border-box;
  }
}

@import "range";
@import "index";
